@model OplevOgDel.Web.Models.ViewModel.ExperienceViewModel
@{
    ViewData["Title"] = Model.Experience.Name;
}

<h1>Oplevelse</h1>

@if (Model.Experience != null)
{
    <div class="text-center">
        <h4>@Model.Experience.Name</h4>
        <p>@Model.Experience.Description</p>
        <p>@Model.Experience.Category.Name</p>
        <p>@Model.Experience.City</p>
        <p>@Model.Experience.Address</p>
    </div>
}
else
{
    <p>Oplevelse eksiterer ikke</p>
}

<h2>Anmeldelser</h2>
@if (User.Identity.IsAuthenticated && User.IsInRole(Roles.User))
{
    @Html.HiddenFor(m => m.Experience.Id)
    <section class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h5 class="pt-1">Opret en anmeldelse</h5>
                <form asp-action="ExperienceReviewAsync" asp-controller="Experience">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="CreateReview.Description" class="form-control" />
                        <span asp-validation-for="CreateReview.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Opret" formaction="/experiences/@ViewData["ExperienceId"]" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </section>
}


@if (Model.Reviews.Count != 0)
{
    @foreach (var review in Model.Reviews)
    {
        <div class="text-center">
            <h4>@review.ProfileId</h4>
            @*<p>@review.Profile.FirstName</p>*@
            <p>@review.Description</p>
        </div>
    }
}
else
{
    <p>Ingen Anmeldelser eksiterer til denne oplevelse!</p>
}