@model OplevOgDel.Web.Models.ViewModel.ProfileViewModel
@{
    ViewData["Title"] = "Profile Page";
}

<div>
    <h1 class="text-center display-3">Velkommen @Model.Profile.FirstName</h1>

    <div>
        <h2>Information om dig</h2>
        <h4>Navn</h4>
        <p>@Model.Profile.FirstName @Model.Profile.LastName</p>

        <h4>By</h4>
        <p>@Model.Profile.City</p>
    </div>

    <p>@Model.SelectedListOfExps.Name</p>
    <select asp-for="SelectedListOfExps" asp-items="Model.ListOfListOfExps"></select>

    <h2>Her er dine lister</h2>
    <div>
        @if (Model.Profile.ListOfExps.Count != 0)
        {
            @foreach (var list in Model.Profile.ListOfExps)
            {
                <h3>Listens navn</h3>
                <p>@list.Name</p>
                <h4>Beskrivelse</h4>
                <p>@list.Description</p>


                <h4>Oplevelser i denne liste</h4>
                <hr />
                if (list.ListOfExpsExperiences.Count != 0)
                {
                    foreach (var leexp in list.ListOfExpsExperiences)
                    {
                        <h5>Navn</h5>
                        <p>@leexp.Experience.Name</p>
                        <h5>Beskrivelse</h5>
                        <p>@leexp.Experience.Description</p>
                        <h5>Kategori</h5>
                        <p>@leexp.Experience.Category.Name</p>
                        <hr />
                    }
                } else
                {
                    <p>Denne liste er tom!</p>
                }


            }
        }
        else
        {
            <p>Ingen lister fundet</p>
        }
    </div>
</div>