@model OplevOgDel.Web.Models.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-lg">
    <a href="#" class="logo"><img src="~/images/logo.png" /></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Søg på oplevelse...">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fal fa-search"></i></span>
                </div>
            </div>
        </form>

        <div class="select-box">
            <div class="select-box__current" tabindex="1">
                @if (Model.Experiences.Count != 0)
                {
                    var count = 0;
                    var countVal = 1;

    @foreach (var experience in Model.Experiences.GroupBy(x => x.City).Select(y => y.First()).ToList())
    {
@if (count == 0)
{
<div class="select-box__value">
    <input class="select-box__input" type="radio" id="@count" value="@countVal" name="location" checked="checked" />
    <p class="select-box__input-text">@experience.City</p>
</div> }
else
{
<div class="select-box__value">
    <input class="select-box__input" type="radio" id="@count" value="@countVal" name="location" />
    <p class="select-box__input-text">@experience.City</p>
</div>}count++;
countVal++;
}}

                <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true" />
            </div>
            <ul class="select-box__list">

                @if (Model.Experiences.Count != 0)
                {
                    var countFor = 0;

    @foreach (var experience in Model.Experiences.GroupBy(x => x.City).Select(y => y.First()).ToList())
    {
<li>
    <label class="select-box__option" for="@countFor" aria-hidden="aria-hidden">@experience.City</label>
</li>countFor++;

                }}


            </ul>
        </div>


        <a href="#" class="btn btn-primary">Søg</a>

        <div class="navbar-nav">
            <label>
                <input type="checkbox">
                <span class="red"><i class="fal fa-utensils"></i></span>
            </label>
            <label>
                <input type="checkbox">
                <span class="green"><i class="fal fa-tree-alt"></i></span>
            </label>
            <label>
                <input type="checkbox">
                <span class="purple"><i class="fal fa-guitar"></i></span>
            </label>
            <label>
                <input type="checkbox">
                <span class="orange"><i class="fal fa-running"></i></span>
            </label>
            <label>
                <input type="checkbox">
                <span class="blue"><i class="fal fa-globe-europe"></i></span>
            </label>
            <label>
                <input type="checkbox">
                <span class="brown"><i class="fal fa-landmark"></i></span>
            </label>
        </div>

        <div class="navbar-nav action-buttons ml-auto">
            <a asp-controller="User" asp-action="Login" class="nav-item nav-link">Log ind</a>
            <a asp-controller="User" asp-action="Register" class="btn btn-primary">Tilmeld</a>
        </div>
    </div>
</nav>








@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Kategorier</h2>
@if (Model.Categories.Count != 0)
{
    @foreach (var category in Model.Categories)
    {
        <span><strong>@category.Name</strong></span>
    }
}
else
{
    <p>Ingen kategorier fundet</p>
}*@

@if (Model.Experiences.Count != 0)
{
    var count = 1;
    <div class="grid">
        @foreach (var experience in Model.Experiences)
        {
        <div class="grid-item pos-@count" style="background: url(https://www.capefearhabitat.org/wp-content/plugins/learnpress/assets/images/no-image.png) no-repeat center center; background-size: cover;">
            @if (@experience.Category.Name == "Mad")
            {
            <div class="red">
                @experience.Name
            </div>
            }
            @if (@experience.Category.Name == "Natur")
            {
        <div class="green">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Musik")
            {
        <div class="purple">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Action")
            {
        <div class="orange">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Kultur")
            {
        <div class="blue">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Historie")
            {
        <div class="brown">
            @experience.Name
        </div>
            }
        </div>

            if (count >= 6)
            {
                count = 1;
            }
            else
            {
                count++;
            }
        }
    </div>
}
else
{
<p>Ingen oplevelser fundet</p>
}
