@model OplevOgDel.Web.Models.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Kategorier</h2>
@if (Model.Categories.Count != 0)
{
    @foreach (var category in Model.Categories)
    {
        <span><strong>@category.Name</strong></span>
    }
}
else
{
    <p>Ingen kategorier fundet</p>
}

<h2>Oplevelser</h2>
@if (Model.Experiences.Count != 0)
{
    var count = 1;
    <div class="grid">
        @foreach (var experience in Model.Experiences)
        {
        <div class="grid-item pos-@count" style="background: url(https://www.capefearhabitat.org/wp-content/plugins/learnpress/assets/images/no-image.png) no-repeat center center; background-size: cover;">
            @if (@experience.Category.Name == "Mad")
            {
            <div class="red">
                @experience.Name
            </div>
            }
            @if (@experience.Category.Name == "Natur")
            {
        <div class="green">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Musik")
            {
        <div class="purple">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Action")
            {
        <div class="orange">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Kultur")
            {
        <div class="blue">
            @experience.Name
        </div>
            }
            @if (@experience.Category.Name == "Historie")
            {
        <div class="brown">
            @experience.Name
        </div>
            }
        </div>

            if (count >= 6)
            {
                count = 1;
            }
            else
            {
                count++;
            }
        }
    </div>
}
else
{
<p>Ingen oplevelser fundet</p>
}
