@model OplevOgDel.Web.Models.ViewModel.ProfileViewModel
@{
    ViewData["Title"] = "Profil";
}

<div class="page">
    <div class="info">
        <div class="userImage">
            <img class="user" src="https://www.xovi.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" />
        </div>
        <div class="userInfo">
            <div class="name">@Model.Profile.FirstName @Model.Profile.LastName</div>
            <div class="city">@Model.Profile.City</div>
        </div>
    </div>

    <div class="divrow">
        @if (Model.Profile.ListOfExps.Count != 0)
        {
            @foreach (var list in Model.Profile.ListOfExps)
            {
                <div class="column">
                    <h2>@list.Name</h2>
                    <hr />

                    @if (list.ListOfExpsExperiences.Count != 0)
                    {
                        foreach (var leexp in list.ListOfExpsExperiences)
                        {
                            @if (leexp.Experience.Category.Name == "Mad")
                            {
                                <div style="width: 100%; background: #ee6d6d; padding: 20px; color: white;">
                                    @leexp.Experience.Name
                                </div>
                            }
                            @if (leexp.Experience.Category.Name == "Natur")
                            {
                                <div style="width: 100%; background: #6db4a3; padding: 20px; color: white;">
                                    @leexp.Experience.Name
                                </div>
                            }
                            @if (leexp.Experience.Category.Name == "Musik")
                            {
                                <div style="width: 100%; background: #a36db6; padding: 20px; color: white;">
                                    @leexp.Experience.Name
                                </div>
                            }
                            @if (leexp.Experience.Category.Name == "Action")
                            {
                                <div style="width: 100%; background: #f1b76d; padding: 20px; color: white;">
                                    @leexp.Experience.Name
                                </div>
                            }
                            @if (leexp.Experience.Category.Name == "Kultur")
                            {
                                <div style="width: 100%; background: #6db7f4; padding: 20px; color: white;">
                                    @leexp.Experience.Name
                                </div>
                            }
                            @if (leexp.Experience.Category.Name == "Historie")
                            {
                                <div style="width: 100%; background: #b6866d; padding: 20px; color: white;">
                                    @leexp.Experience.Name
                                </div>
                            }
                            <div style="background: #f6f6f6; padding: 20px; margin-bottom: 30px;">
                                <p>@leexp.Experience.Description</p>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Denne liste er tom!</p>
                    }
                </div>
            }
        }
    </div>
</div>